5/soap.wsdl

<definitions
        Name="FridgeService"
        targetNamepsace="urn:fridge"
        xmlns:fridge="http://soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema targetNamespace="urn:fridge">
            <!-- ARRAYS -->
            <xsd:simpleType name="array_string">
                <xsd:list   itemType="xsd:string"/>
            </xsd:simpleType>
            <xsd:simpleType name="array_int">
                <xsd:list   itemType="xsd:integer"/>
            </xsd:simpleType>

    

            <!-- Complex Types -->

        <xsd:complexType name="facility_range_input">
        <xsd:all>
          <xsd:element name='params' maxoccurs='unbounded'>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="city" type="xsd:string"/>
                <xsd:element name="temperatur" type="xsd:integer"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>

         <xsd:complexType name="string_hash">
        <xsd:all>
          <xsd:element name='params' maxoccurs='unbounded'>
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="encrypted1" type="fridge:single_hash"/>
                <xsd:element name="encrypted2" type="fridge:single_hash"/>
                 <xsd:element name="encrypted3" type="fridge:single_hash"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:all>
      </xsd:complexType>

       <xsd:element name="single_hash">
            <xsd:complexType>
             <xsd:sequence>
            <xsd:element name="hash" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
      </xsd:element>

      <complexType name="ArrayOfFloat">
  <complexContent>
      <restriction base="soapenc:Array">
          <attribute ref="soapenc:arrayType" 
                     wsdl:arrayType="xsd:integer[]"/>
      </restriction>
  </complexContent>
</complexType>


        </xsd:schema>
    </types>

    <!--MESSAGES-->

    <!--INPUTS-->

    <message name="addressInput">
        <part name="postal_code" type="xsd:integer"/>
        <part name="parameters" type="xsd:string"/>
    </message>
      <message name="getFacilitiesInRangeInput">
        <part name="date" type="xsd:integer"/>
        <part name="parameters" type="fridge:array_string"/>
    </message>
    <message name="getTyrolCustomersInput">
        <part name="parameters" type="fridge:facility_range_input"/>
        <part name="date" type="xsd:date"/>
    </message>
    <message name="getCorporateAppointmentsInput">
        <part name="parameters" type="fridge:string_hash"/>
        <part name="status" type="fridge:single_hash"/>
    </message>
    <message name="getSypmtomDataInput">
        <part name="parameters" type="xsd:string"/>
        <part name="date" type="xsd:date"/>
    </message>
       <message name="getFacilitiesFromBlocksInput">
        <part name="parameters" type="fridge:array_string"/>
        <part name="type" type="xsd:string"/>
    </message>
      <message name="getFacilitiesStatusRangeInput">
        <part name="date" type="fridge:array_int"/>
        <part name="parameters" type="fridge:array_string"/>
    </message>
    <message name="getCustomersByGenderAndFridgeInput">
       <part name="year" type="xsd:integer"/>
       <part name="age" type="xsd:integer"/>
       <part name="gender" type="xsd:string"/>
    </message>
     <message name="getAmountFridgesInput">
       <part name="gender" type="xsd:string"/>
       <part name="age" type="xsd:integer"/>
    </message>
    <message name="getCustomersAppointmentsByAgeInput">
        <part name="parameters" type="fridge:ArrayOfFloat"/>
    </message>
<!-- OUTPUTS -->

    <message name="getAddressResponse">
         <part name="address" type="xsd:string"/>
    </message>
     <message name="getFacilitiesInRangeResponse">
        <part name="facility" type="xsd:string"/>
    </message>
    <message name="getTyrolCustomersResponse">
        <part name="facility" type="xsd:string"/>
    </message>
    <message name="getCorporateAppointmentsResponse">
        <part name="corporate" type="xsd:string"/>
    </message>
       <message name="getSypmtomDataResponse">
        <part name="corporate" type="xsd:string"/>
    </message>
    <message name="getFacilitiesFromBlocksResponse">
        <part name="corporate" type="xsd:string"/>
    </message>
   <message name="getFacilitiesStatusRangeResponse">
        <part name="corporate" type="xsd:string"/>
    </message>
       <message name="getCustomersByGenderAndFridgeResponse">
        <part name="corporate" type="xsd:string"/>
    </message>
<message name="getAmountFridgesResponse">
        <part name="corporate" type="xsd:string"/>
    </message>
<message name="getCustomersAppointmentsByAgeResponse">
        <part name="corporate" type="xsd:string"/>
    </message>





    <!--PORT TYPES-->

    <portType name="FridgeServicePort">

        <!-- getCustomerAddress -->
        <operation name="getCustomerAddress">
            <input message="fridge:addressInput"/>
            <output message="fridge:getAddressResponse"/>
        </operation>

        <!-- getFacilitiesInRange -->
        <operation name="getFacilitiesInRange">
            <input message="fridge:getFacilitiesInRangeInput"/>
            <output message="fridge:getFacilitiesInRangeResponse"/>
        </operation>
          <!-- getTyrolCustomers -->
        <operation name="getTyrolCustomers">
            <input message="fridge:getTyrolCustomersInput"/>
            <output message="fridge:getTyrolCustomersResponse"/>
        </operation>
         <!-- getCorporateAppointments -->
        <operation name="getCorporateAppointments">
            <input message="fridge:getCorporateAppointmentsInput"/>
            <output message="fridge:getCorporateAppointmentsResponse"/>
        </operation>
               <!-- getSypmtomData -->
        <operation name="getSypmtomData">
            <input message="fridge:getSypmtomDataInput"/>
            <output message="fridge:getSypmtomDataResponse"/>
        </operation>
           <!-- getFacilitiesFromBlocks -->
        <operation name="getFacilitiesFromBlocks">
            <input message="fridge:getFacilitiesFromBlocksInput"/>
            <output message="fridge:getFacilitiesFromBlocksResponse"/>
        </operation>
        <!-- getFacilitiesStatusRange -->
        <operation name="getFacilitiesStatusRange">
            <input message="fridge:getFacilitiesStatusRangeInput"/>
            <output message="fridge:getFacilitiesStatusRangeResponse"/>
        </operation>
       <!-- getCustomersByGenderAndFridge -->
        <operation name="getCustomersByGenderAndFridge">
            <input message="fridge:getCustomersByGenderAndFridgeInput"/>
            <output message="fridge:getCustomersByGenderAndFridgeResponse"/>
        </operation>
           <!-- getAmountFridges -->
        <operation name="getAmountFridges">
            <input message="fridge:getAmountFridgesInput"/>
            <output message="fridge:getAmountFridgesResponse"/>
        </operation>
         <!-- getCustomersAppointmentsByAge -->
        <operation name="getCustomersAppointmentsByAge">
            <input message="fridge:getCustomersAppointmentsByAgeInput"/>
            <output message="fridge:getCustomersAppointmentsByAgeResponse"/>
        </operation>
    </portType>


    <!--BINDING -->


    <binding name="FridgeServiceBinding" type="fridge:FridgeServicePort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <!-- getCustomerAddress -->
        <operation name="getCustomerAddress">
            <soap:operation soapAction="urn:FridgeService#getCustomerAddress"/>
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
        <!-- getFacilitiesInRange -->
        <operation name="getFacilitiesInRange">
            <soap:operation soapAction="urn:FridgeService#getFacilitiesInRange"/>
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
           <!-- getTyrolCustomers -->
        <operation name="getTyrolCustomers">
            <soap:operation soapAction="urn:FridgeService#getTyrolCustomers"/>
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
              <!-- getCorporateAppointments -->
        <operation name="getCorporateAppointments">
            <soap:operation soapAction="urn:FridgeService#getCorporateAppointments" />
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
             <!-- getSypmtomData -->
        <operation name="getSypmtomData">
            <soap:operation soapAction="urn:FridgeService#getSypmtomData" />
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
            <!-- getFacilitiesFromBlocks -->
        <operation name="getFacilitiesFromBlocks">
            <soap:operation soapAction="urn:FridgeService#getFacilitiesFromBlocks" />
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
        <!-- getFacilitiesStatusRange -->
        <operation name="getFacilitiesStatusRange">
            <soap:operation soapAction="urn:FridgeService#getFacilitiesStatusRange" />
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
                <!-- getCustomersByGenderAndFridge -->
        <operation name="getCustomersByGenderAndFridge">
            <soap:operation soapAction="urn:FridgeService#getCustomersByGenderAndFridge" />
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
                 <!-- getAmountFridges -->
        <operation name="getAmountFridges">
            <soap:operation soapAction="urn:FridgeService#getAmountFridges" />
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
                 <!-- getCustomersAppointmentsByAge -->
        <operation name="getCustomersAppointmentsByAge">
            <soap:operation soapAction="urn:FridgeService#getCustomersAppointmentsByAge" />
            <input>
                <soap:body use="literal" namespace="urn:fridge"/>
            </input>
            <output>
                <soap:body use="literal" namespace="urn:fridge"/>
            </output>
        </operation>
    </binding>


    <!--SOAP -->

    <service name='FridgeService'>
        <port name="FridgeServicePort" binding="fridge:FridgeServiceBinding">
            <soap:address location="http://wwwlab.cs.univie.ac.at/~a1349252/iop/soap/server.php"/>
        </port>
    </service>

</definitions>
